# Build Directory
build/
bin/
mpc_venv
# Vim c_tags files
c_*
SEAL
*.onnx
.idea/
.vscode/
*.sh
*.dat
*.npy
*.txt
*Zone.Identifier
*.zip
*.dot
*.csv
*.out
GPU-MPC/experiments/sigma/sigma_offline_online
