.vscode/
*.out
release/
debug/
build/
datatorch/
client.dat
server.dat
out.folded
out.perf
perf.data
perf.data.old
graph.svg
.venv
*.dat
logs/
temp/
graph.dot
graph.png
graph.pdf
venv/
demo/
scratch/
*.inp
*.csv
