{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{CONTEST_NAME}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'contests/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contests/base.css' %}">
</head>

<body>
    {% include "contests/navbar.html" %}
    <div class="container">
        {% block 'body' %}
        {% endblock %}
        <hr />
        <p>Microsoft Research</p>
    </div>
</body>

</html>