{% extends 'contests/base.html' %}
{% block 'body' %}
{% load static %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'contests/img/mslogo.webp' %}" alt="Microsoft Logo" height="100">
    <h1 class="display-5 fw-bold">Secure Data Science Competitions</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">In this website you can create and participate in Data Science contests, while sharing
            neither your dataset,
            nor your model. This is made possible using a set of secure Multiparty Computation libraries developed by
            Microsoft Research.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'contests:login' %}" class=" btn btn-primary btn-lg px-4 gap-3">Get Started</button>
                <a href="https://www.microsoft.com/en-us/research/project/ezpc-easy-secure-multi-party-computation/"
                    class="btn btn-outline-secondary btn-lg px-4">Learn
                    more
                    about MPC</a>
        </div>
    </div>
</div>
{% endblock %}